
/*Example*/
//background color
//$background_color: #fcfcfc

//main color
$main_color: #74c7d5

//button color
$btn_hover_color: rgba(255, 255, 255, 0.3)

//border color
//$border_color: #eff0ef

/*span
	color: $main_color*/

$default-font: "lato", sans-serif

h1, h2, h3, h4, h5, h6
	color: white

span, p
	color: rgba(255, 255, 255, 0.8)